@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

body {
    background-color: #F1F1F1;
}

section{
    min-height: 100vh;
}

.container {
    max-width: 1600px;
    height: auto;
    margin: 32px auto;
}

/* CSS of filters */
.filters {
    background-color: transparent;
    color: black;
}

.input-filters{
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
}

.padding-on-input {
    padding: 10px;
}

.input-filters input,
.input-filters select {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    margin: 12px 0;
    font-size: 16px;
    display: block;
}

.btn-submit,
.input-filters select {
    padding: 10px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid black;
}

.input-filters button:hover{
    background-color: black;
    color: white;
}

#filterTitle{
    border-bottom: 1px solid black;
    display: inline-block;
    line-height: 1.8;
}

#time {
    text-align: center;
}
/* CSS of search results */
.search-results {
    margin-top: 32px;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.recipe {
    width: 100%;
    border-radius: 8px;
    background-color: white;
    border: 1px solid rgb(232, 232, 232);
    padding: 15px;
    overflow: hidden;
}

.recipe img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.recipe .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe .recipe-title{
    color: black;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.recipe-title a {
    color: black;
    text-decoration: none;
}

.recipe-title a:hover {
    text-decoration: underline;
}

.view-button{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
    align-self: flex-start;
    border: 1px solid black;
}

.view-button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.recipe-data {
    color: #707070;
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: .05rem;
    line-height: 1.5rem;
}

#results-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

/* Pagination links */
.pagination {
    margin-top: 64px;
    display: block;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
/* Style the active/current link */
.pagination a.active {
    background-color: transparent;
    color: dodgerblue;
    font-weight: bold;
}
  
/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ffffff;
    color: dodgerblue;
    border-radius: 5px;
}

/* START OF heart icon CSS */
.favorites-icon {
    border: 0;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.favorites-icon::before{
    -webkit-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    margin-right: 0;
    height: 34px;
    line-height: 34px;
    color: #bbb;
    font-size: 24px
}
.favorites-icon:hover::before{
    color: red;
}
.favorites-icon.fas::before {
    color: red;
}
/* END OF heart icon CSS */

/* START OF microphone icon and hr with text inside CSS */
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    background-color: #F1F1F1;
    text-align: center;
    height: 1.5rem;
    opacity: 0.5;
    font-size: 18px;
}
.hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #F1F1F1;
}
hr:not([size]) {
    height: auto;
}
.center{
    text-align: center;
}
.btn-microphone {
    border: 2px solid black;
    border-radius: 50%;
    font-size: 24px;
    height: 60px;
    width: 60px;
}
.btn-microphone:hover{
    color: white;
    background-color: black;
}
.content{
    margin: 12px;
}
/* END OF microphone icon and hr with text inside CSS */

@media (max-width: 768px){
    /* for small screen css styling */
}